@import "tailwindcss";

:root {
  --background: #FCEFF6;
  --foreground: #171717;
}

@font-face {
  font-family: 'Popins';
  src: url('../src/fonts/poppins/Poppins-Regular.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Berlin-Sans';
  src: url('../src/fonts/berlin-sans-fb/BRLNSR.TTF') format('woff2');
  font-weight:normal;
  font-style:normal;
}

@font-face{
  font-family: 'Nunito';
  src: url('../src/fonts/nunito/Nunito-VariableFont_wght.ttf') format("woff2");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: var(--background);
}

button:hover{
  cursor: pointer;
}

.principal-font{
  font-family: 'Berlin-Sans';
}

.secondary-font{
  font-family: 'Popins';
}

.nunito{
  font-family: 'Nunito';
}
